* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

h1 {
    font-size: 200%;
    background: rgb(185, 214, 185);
    width: fit-content;
    padding:1%;
}

h2 {
    border-right: 5px solid rgb(144, 175, 144);
    width:85px;
    font-size: 150%;
    float:left;
}

h3 {
    font-size: 150%;
    background: rgb(185, 214, 185);
    width: fit-content;
    height: min-content;
    align-self: flex-end;
    padding: 0px 10px;
    margin: 5px 5px;
}

body{
    background-color: rgb(233, 250, 233);
    padding: 0% 10%;
}

header {
    display: flex;
    background-color: rgb(144, 175, 144);
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

nav {
    display: flex;
    justify-content:flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    padding-right: 20px;
}

nav a {
    padding: 10px;
}

#backgroundhead {
    display: flex;
    justify-content: space-between;
    align-items:center;
    height:200px;
    background-image: url("https://cdn.discordapp.com/attachments/811766713438699561/813629107023773726/Kapture_2021-02-22_at_23.28.20.gif");
    background-size: cover;
}

.profilepic {
    border-radius:100%;
    margin-left: 2%;

}

aside {
    display: flex;
    justify-content: space-between;
    align-items:center;
}

p{
    padding: 10px 20px;
    text-indent: 2em;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
}

.mostrecent {
    flex: 1;
    justify-self:stretch;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
    padding-right: 20px;
    background-color: rgb(144, 175, 144);
}

#bottomgif {
    border-radius: 10%;
}
