/* sets fonts and box format */
* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

/* h1 headings larger, sets color and width and adds small buffer */
h1 {
    font-size: 200%;
    background: rgb(185, 214, 185);
    width: fit-content;
    padding:1%;
}

/* h2 headings larger, adds left border, aligns to left of page */
h2 {
    border-right: 5px solid rgb(144, 175, 144);
    width:85px;
    font-size: 150%;
    float:left;
}

/* h3 headings larger, background color, formats location */
h3 {
    font-size: 150%;
    background: rgb(185, 214, 185);
    width: fit-content;
    height: min-content;
    align-self: flex-end;
    padding: 0px 10px;
    margin: 5px 5px;
}

/* backgorund of visable content, adds a bit of space on either side */
body{
    background-color: rgb(233, 250, 233);
    padding: 0% 10%;
}

/* creates flexable header, changes background color, formats how children are placed */
header {
    display: flex;
    background-color: rgb(144, 175, 144);
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

/* sets spacing for links */
nav {
    display: flex;
    justify-content:flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    padding-right: 20px;
}

nav a {
    padding: 10px;
}

/* adds background for top profile image */
#backgroundhead {
    display: flex;
    justify-content: space-between;
    align-items:center;
    height:200px;
    background-image: url("https://cdn.discordapp.com/attachments/811766713438699561/813629107023773726/Kapture_2021-02-22_at_23.28.20.gif");
    background-size: cover;
}

/* spaces out profile pic and rounds edges */
.profilepic {
    border-radius:100%;
    margin-left: 2%;

}

/* vertically spaces about me section */
aside {
    display: flex;
    justify-content: space-between;
    align-items:center;
}

p{
    padding: 10px 20px;
    text-indent: 2em;
}

/* creates container for heading and content of section */
.sxs{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-self:stretch;
}

figure {
    position: relative;
    text-align: center;
    color: black;
  }

  /* text for most recent project */
  .captionmain {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-390%, -660%);
    font-size:x-large;
    background-color: rgb(185, 214, 185);
    border: 2px dotted greenyellow;
  }

  /* text for all other projects */
  .caption{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-260px, -540%);
    font-size: medium;
    background-color: rgb(185, 214, 185);
    border: 2px dotted greenyellow;
  }

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#mostrecent {
    width: 100%;
    height: auto;
    object-fit: stretch;
    justify-self: center;
}

main a {
    width:50%;
    height: auto;
    object-fit: stretch;
    flex-basis: auto;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
    padding-right: 20px;
    background-color: rgb(144, 175, 144);
}

#bottomgif {
    border-radius: 10%;
}

/* makes headers appear above other content when screen shrinks */
@media screen and (max-width: 768px) {
    .sxs {
        display: flex;
        flex-flow: column wrap;
    }
}

a:hover {
    border: 3px dotted goldenrod;
}